# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# File Path
csv_path = "../WeatherPy/city.csv"

# Read CSV File
city_df = pd.read_csv(csv_path)

# Print DataFrame
city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Vaini,-21.2000,-175.2000,84.36,74,40,10.36,TO,1649642867
1,Jamestown,42.0970,-79.2353,35.71,56,0,9.22,US,1649642644
2,Chui,-33.6971,-53.4616,68.77,88,100,11.54,UY,1649642868
3,Porto-Novo,6.4965,2.6036,80.38,82,51,6.55,BJ,1649642868
4,Terney,45.0503,136.6092,45.16,80,100,2.55,RU,1649642868
...,...,...,...,...,...,...,...,...,...
554,Vilhena,-12.7406,-60.1458,69.19,96,100,1.99,BR,1649643035
555,Wohlen,47.3524,8.2788,37.71,79,100,1.99,CH,1649643035
556,Saint-Joseph,-21.3667,55.6167,71.98,80,29,15.30,RE,1649643035
557,Shīeli,44.1667,66.7500,70.27,42,100,14.32,KZ,1649643036
558,Abhā,18.2164,42.5053,57.45,47,0,0.00,SA,1649643036

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Bring in location data pairs, humidity data, define map and layer, and add layer to map
city_locations = city_df[["Lat", "Lng"]].astype(float)
humidity = city_df["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure(map_type = "TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(city_locations, weights = humidity, dissipating = False, 
                                max_intensity = 100, point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Print original dataframe
city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Vaini,-21.2000,-175.2000,84.36,74,40,10.36,TO,1649642867
1,Jamestown,42.0970,-79.2353,35.71,56,0,9.22,US,1649642644
2,Chui,-33.6971,-53.4616,68.77,88,100,11.54,UY,1649642868
3,Porto-Novo,6.4965,2.6036,80.38,82,51,6.55,BJ,1649642868
4,Terney,45.0503,136.6092,45.16,80,100,2.55,RU,1649642868
...,...,...,...,...,...,...,...,...,...
554,Vilhena,-12.7406,-60.1458,69.19,96,100,1.99,BR,1649643035
555,Wohlen,47.3524,8.2788,37.71,79,100,1.99,CH,1649643035
556,Saint-Joseph,-21.3667,55.6167,71.98,80,29,15.30,RE,1649643035
557,Shīeli,44.1667,66.7500,70.27,42,100,14.32,KZ,1649643036
558,Abhā,18.2164,42.5053,57.45,47,0,0.00,SA,1649643036

In [6]:
best_cities = city_df.loc[(city_df["Max Temp"] >= 70) &
                          (city_df["Max Temp"] <= 85) &
                          (city_df["Humidity"] <= 50) & 
                          (city_df["Wind Speed"] <= 20), :].reset_index(drop=True).dropna()

# Print new dataframe
best_cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Leiyang,26.4024,112.8591,81.70,43,1,5.64,CN,1649642883
1,Broken Hill,-31.9500,141.4333,81.86,32,0,5.14,AU,1649642906
2,Bahir Dar,11.5936,37.3908,71.71,36,40,2.06,ET,1649642917
3,Airai,-8.9266,125.4092,74.55,40,91,3.13,TL,1649642924
4,Imperial,33.0334,-115.4175,84.78,20,3,16.64,US,1649642926
5,Pecos,31.4229,-103.4932,81.30,13,0,5.75,US,1649642936
6,Hīt,33.6416,42.8251,70.07,20,37,6.93,IQ,1649642942
7,Dayong,25.0209,118.2898,82.83,46,0,2.71,CN,1649642946
8,Cayenne,4.9333,-52.3333,80.10,1,20,5.01,GF,1649642948
9,Araouane,18.9048,-3.5265,79.20,6,0,10.11,ML,1649642955
10,Bilma,18.6853,12.9164,83.10,7,0,4.72,NE,1649642960
11,Podor,16.6527,-14.9587,73.51,40,31,11.48,MR,1649642966
12,Simao,22.7886,100.9748,75.54,46,0,3.02,CN,1649642967
13,Mingguang,32.7802,117.9638,81.97,42,0,7.96,CN,1649642968
14,Riyadh,24.6877,46.7219,71.74,24,5,6.42,SA,1649642973
15,Shāmgarh,24.1833,75.6333,83.52,27,15,9.73,IN,1649642983
16,Barinas,8.6226,-70.2075,83.41,50,71,1.48,VE,1649642794
17,Clarksdale,34.2001,-90.5709,73.38,38,20,14.97,US,1649643002
18,Nioro,13.3500,-15.7500,77.36,28,2,7.27,GM,1649643007
19,Chenzhou,25.8000,113.0333,81.88,40,0,3.96,CN,1649643010
20,Shangrao,28.4532,117.9686,80.20,50,12,3.53,CN,1649643014
21,Meghraj,23.5000,73.5000,81.36,34,19,6.15,IN,1649642724
22,Arlit,18.7369,7.3853,82.76,9,0,4.59,NE,1649643022
23,Tāndā,26.5500,82.6500,82.85,50,0,10.83,IN,1649643023
24,Kutum,14.2000,24.6667,73.36,11,36,7.76,SD,1649643026
26,Ankang,32.6800,109.0172,77.25,49,3,1.90,CN,1649643033
27,Shīeli,44.1667,66.7500,70.27,42,100,14.32,KZ,1649643036

### Hotel Map
* Create a dataframe named `hotel_df` that is the df created above only with the pertinent data.  See the prepared code below (`info_box_template`) to determine what data you will need for your final map.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels (aka "lodging") within 5000 meters.
* Utilize the Google Places API to find the first hotel search result.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create dataframe 
hotel_df = best_cities
# hotel_df

# Empty column 
hotel_df["Hotel Name"] = ""
#hotel_df

# Base Url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [8]:
# params dictionary to update each iteration 
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key,
}

# Loop
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # change location each iteration while leaving original params in place
    params['location'] = f'{lat},{lng}'
    
    # JSON
    hotel_name = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name['results'][0]['name']
        
    except: 
        print('Hotel not found at City:', row['City'])
        hotel_df.loc[index, "Hotel Name"] = "NA"
            
# Print dataframe with Hotel Name column filled       
hotel_df

Hotel not found at City: Airai
Hotel not found at City: Imperial
Hotel not found at City: Araouane
Hotel not found at City: Bilma
Hotel not found at City: Nioro
Hotel not found at City: Meghraj
Hotel not found at City: Tāndā
Hotel not found at City: Kutum

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Leiyang,26.4024,112.8591,81.70,43,1,5.64,CN,1649642883,Spring Hotel
1,Broken Hill,-31.9500,141.4333,81.86,32,0,5.14,AU,1649642906,Palace Hotel
2,Bahir Dar,11.5936,37.3908,71.71,36,40,2.06,ET,1649642917,Riverland Hotel
3,Airai,-8.9266,125.4092,74.55,40,91,3.13,TL,1649642924,NA
4,Imperial,33.0334,-115.4175,84.78,20,3,16.64,US,1649642926,NA
5,Pecos,31.4229,-103.4932,81.30,13,0,5.75,US,1649642936,Quality Inn
6,Hīt,33.6416,42.8251,70.07,20,37,6.93,IQ,1649642942,جواد كاظم
7,Dayong,25.0209,118.2898,82.83,46,0,2.71,CN,1649642946,Yongchang Hotel
8,Cayenne,4.9333,-52.3333,80.10,1,20,5.01,GF,1649642948,Mercure Cayenne Royal Amazonia
9,Araouane,18.9048,-3.5265,79.20,6,0,10.11,ML,1649642955,NA
10,Bilma,18.6853,12.9164,83.10,7,0,4.72,NE,1649642960,NA
11,Podor,16.6527,-14.9587,73.51,40,31,11.48,MR,1649642966,La cour du fleuve
12,Simao,22.7886,100.9748,75.54,46,0,3.02,CN,1649642967,Chaolin Hotel
13,Mingguang,32.7802,117.9638,81.97,42,0,7.96,CN,1649642968,Mingguang Shijiyuan International Hotel
14,Riyadh,24.6877,46.7219,71.74,24,5,6.42,SA,1649642973,"Radisson Blu Hotel, Riyadh"
15,Shāmgarh,24.1833,75.6333,83.52,27,15,9.73,IN,1649642983,Aashirwad hotel & resort
16,Barinas,8.6226,-70.2075,83.41,50,71,1.48,VE,1649642794,Posada Dona Barbara
17,Clarksdale,34.2001,-90.5709,73.38,38,20,14.97,US,1649643002,Hampton Inn Clarksdale
18,Nioro,13.3500,-15.7500,77.36,28,2,7.27,GM,1649643007,NA
19,Chenzhou,25.8000,113.0333,81.88,40,0,3.96,CN,1649643010,Chenzhou Huatian Hotel
20,Shangrao,28.4532,117.9686,80.20,50,12,3.53,CN,1649643014,Wogo Hotel
21,Meghraj,23.5000,73.5000,81.36,34,19,6.15,IN,1649642724,NA
22,Arlit,18.7369,7.3853,82.76,9,0,4.59,NE,1649643022,Hôtel Temet
23,Tāndā,26.5500,82.6500,82.85,50,0,10.83,IN,1649643023,NA
24,Kutum,14.2000,24.6667,73.36,11,36,7.76,SD,1649643026,NA
26,Ankang,32.6800,109.0172,77.25,49,3,1.90,CN,1649643033,Swisstouches Hotel Ankang
27,Shīeli,44.1667,66.7500,70.27,42,100,14.32,KZ,1649643036,"Гостинница В Шиели ""Айжұлдыз"""

In [9]:
# Remove Cities with missing hotel
hotel_df = hotel_df[hotel_df['Hotel Name'] != "NA"]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Leiyang,26.4024,112.8591,81.70,43,1,5.64,CN,1649642883,Spring Hotel
1,Broken Hill,-31.9500,141.4333,81.86,32,0,5.14,AU,1649642906,Palace Hotel
2,Bahir Dar,11.5936,37.3908,71.71,36,40,2.06,ET,1649642917,Riverland Hotel
5,Pecos,31.4229,-103.4932,81.30,13,0,5.75,US,1649642936,Quality Inn
6,Hīt,33.6416,42.8251,70.07,20,37,6.93,IQ,1649642942,جواد كاظم
7,Dayong,25.0209,118.2898,82.83,46,0,2.71,CN,1649642946,Yongchang Hotel
8,Cayenne,4.9333,-52.3333,80.10,1,20,5.01,GF,1649642948,Mercure Cayenne Royal Amazonia
11,Podor,16.6527,-14.9587,73.51,40,31,11.48,MR,1649642966,La cour du fleuve
12,Simao,22.7886,100.9748,75.54,46,0,3.02,CN,1649642967,Chaolin Hotel
13,Mingguang,32.7802,117.9638,81.97,42,0,7.96,CN,1649642968,Mingguang Shijiyuan International Hotel
14,Riyadh,24.6877,46.7219,71.74,24,5,6.42,SA,1649642973,"Radisson Blu Hotel, Riyadh"
15,Shāmgarh,24.1833,75.6333,83.52,27,15,9.73,IN,1649642983,Aashirwad hotel & resort
16,Barinas,8.6226,-70.2075,83.41,50,71,1.48,VE,1649642794,Posada Dona Barbara
17,Clarksdale,34.2001,-90.5709,73.38,38,20,14.97,US,1649643002,Hampton Inn Clarksdale
19,Chenzhou,25.8000,113.0333,81.88,40,0,3.96,CN,1649643010,Chenzhou Huatian Hotel
20,Shangrao,28.4532,117.9686,80.20,50,12,3.53,CN,1649643014,Wogo Hotel
22,Arlit,18.7369,7.3853,82.76,9,0,4.59,NE,1649643022,Hôtel Temet
26,Ankang,32.6800,109.0172,77.25,49,3,1.90,CN,1649643033,Swisstouches Hotel Ankang
27,Shīeli,44.1667,66.7500,70.27,42,100,14.32,KZ,1649643036,"Гостинница В Шиели ""Айжұлдыз"""

In [10]:
# NOTE: Do not change any of the code in this cell
# Analyze the code below for variables but these should be all columns in hotel_df

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))